/* globals.css */

/* Global styles */
body {
  font-family: Arial, sans-serif; /* Set the font family for the entire body */
  background-color: #EFEFFF; /* Set the background color for the body */
  color: #333; /* Set the text color for the body */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
}